@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Monda', sans-serif; }

body {
  background: #faf3f3;
  background: linear-gradient(90deg, #faf3f3 0%, #e1e5ea 35%, #f9fafb 100%); }
  body img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none; }

/* Boton whatsapp. */
.whatsappBoton {
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
  bottom: 2.5rem;
  right: 2.5rem;
  background-color: #25d366;
  color: #FFF;
  border-radius: 3.125rem;
  text-align: center;
  font-size: 1.875rem;
  box-shadow: 0.125rem 0.125rem 0.1875rem #999;
  z-index: 100; }

.whatsappBoton:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff; }

.miFloat {
  margin-top: 1rem; }

.nav__containerGrids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "nav__buscadorCategorias . nav__cuenta";
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch; }

.nav__cuenta {
  justify-self: stretch;
  align-self: center;
  grid-area: nav__cuenta; }

.nav__buscadorCategorias {
  justify-self: stretch;
  align-self: center;
  grid-area: nav__buscadorCategorias; }

.screen-darken {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000080;
  pointer-events: none;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  position: fixed; }

#header__inicio .header__inicio {
  font-size: 0.80rem;
  line-height: 2rem;
  background-color: #000000d0;
  position: relative;
  top: 0; }
  #header__inicio .header__inicio li {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    transition: transform 0.5s ease; }
  #header__inicio .header__inicio li:hover {
    background-color: #91c612;
    transform: scale(1.1, 1.1); }
  #header__inicio .header__inicio li:active {
    background-color: #15B9D4; }
  #header__inicio .header__inicio ul {
    padding: 0; }
    #header__inicio .header__inicio ul .header__retirarCompra {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      text-decoration: none;
      color: #faf3f3; }
    #header__inicio .header__inicio ul .header__seguirCompra {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      text-decoration: none;
      color: #faf3f3; }

#header__inicio .nav__logo {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  padding-top: 2rem; }
  #header__inicio .nav__logo img {
    transition: all 2s ease; }
  #header__inicio .nav__logo img:hover {
    transform: scale(0.9, 0.9); }

#header__inicio .nav__nav {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  #header__inicio .nav__nav .nav__categorias {
    color: #424143; }
  #header__inicio .nav__nav a:hover {
    color: #424143; }
  #header__inicio .nav__nav .fa-shopping-cart {
    color: #424143e7; }
  #header__inicio .nav__nav .fa-shopping-cart:hover {
    color: #424143; }
  #header__inicio .nav__nav .fa-bell {
    color: #424143e7; }
  #header__inicio .nav__nav .fa-bell:hover {
    color: #424143; }
  #header__inicio .nav__nav .nav__img--avatar:hover {
    transform: scale(1.1, 1.1);
    transition: transform 0.5s ease; }

#header__inicio .navbar {
  position: relative;
  z-index: 15; }

@keyframes mover {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#article__destacados {
  padding-top: 9rem;
  padding-bottom: 9rem; }
  #article__destacados .article__top4--img {
    display: block;
    margin: auto;
    height: auto; }
  #article__destacados .content-table {
    border-collapse: collapse;
    box-shadow: 0 0 1.25rem #00000026;
    margin: 1.563rem 0;
    text-align: center;
    margin: auto;
    height: auto;
    font-size: 0.9rem;
    border-radius: 0.313rem 0.313rem 0 0; }
  #article__destacados .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold; }
  #article__destacados .content-table th,
  #article__destacados .content-table td,
  #article__destacados .content-table a {
    padding: 0.7rem 0.8rem;
    text-decoration: none; }
  #article__destacados .content-table tbody tr {
    border-bottom: 0.063rem solid #dddddd; }
  #article__destacados .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3; }
  #article__destacados .content-table tbody tr:last-of-type {
    border-bottom: 0.125rem solid #61b92e; }
  #article__destacados .content-table tbody tr.active-row {
    background-color: #a1dd16d0; }
  #article__destacados .content-table tbody tr.active-row:hover {
    background-color: #a1dd16; }
  #article__destacados .article__tituloTop {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin: auto;
    height: auto;
    font-size: 2rem; }

.article__intereses--h2,
.article__quizas--h2 {
  font-size: 1.3rem;
  padding-bottom: 1.3rem;
  margin-left: 1rem;
  color: #999898; }

.article__intereses,
.article__quizas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 4rem; }
  .article__intereses .card,
  .article__quizas .card {
    background-color: #e1e5ea; }
    .article__intereses .card img,
    .article__quizas .card img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%; }
  .article__intereses .card:hover,
  .article__quizas .card:hover {
    box-shadow: 0 0.625rem 1.25rem #0000001f, 0 0.25rem 0.5rem #0000000f;
    transform: scale(1.05);
    transition: transform 0.5s ease; }

.article__productos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 4rem; }
  .article__productos .card {
    background-color: #e1e5ea;
    width: 18rem; }
    .article__productos .card .card-link {
      padding: 1rem; }
    .article__productos .card img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%; }
  .article__productos .card:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
    box-shadow: 0 0.625rem 1.25rem #0000001f, 0 0.25rem 0.5rem #0000000f; }

.article__cardsLogo--arriba {
  width: 10rem;
  display: block;
  margin: auto; }

.article__cardsLogo--arriba:hover {
  opacity: .8; }

.article__cardsLogo--abajo {
  width: 10rem;
  display: block;
  margin: auto; }

.article__cardsLogo--abajo:hover {
  opacity: .8; }

.article__cardsPadding {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.card-img-top,
.card-body,
.article__productosInteres {
  padding: 2rem; }
  .card-img-top .card,
  .card-body .card,
  .article__productosInteres .card {
    background-color: #e1e5ea; }
    .card-img-top .card img,
    .card-body .card img,
    .article__productosInteres .card img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%; }

.article__pagaRecibiSeguridad {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 1rem; }
  .article__pagaRecibiSeguridad h3 {
    font-size: 1.4rem; }
  .article__pagaRecibiSeguridad div {
    width: 20rem;
    height: 10rem; }
    .article__pagaRecibiSeguridad div img {
      margin-bottom: 1rem; }
  .article__pagaRecibiSeguridad img {
    margin: auto;
    display: block; }

.article__retirar {
  width: 70%;
  text-align: center;
  margin: auto;
  padding: auto; }
  .article__retirar h1 {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .article__retirar h4 {
    padding: 0.5rem;
    font-size: 1.3rem; }
  .article__retirar .article__retirarUl li {
    text-align: center;
    padding: 1rem;
    list-style-type: decimal; }
  .article__retirar .article__retirarUl .article__retirarCursiva {
    padding: 1rem;
    font-style: italic; }
  .article__retirar .article__mapa--iframe {
    display: flex;
    align-items: center;
    justify-content: center; }

.article__registro {
  align-items: center;
  text-align: center; }
  .article__registro h1 {
    font-size: 2rem; }
  .article__registro .btn-primary {
    background-color: #424143;
    border-color: #424143;
    color: #91c612; }
  .article__registro .btn-primary:hover {
    background-color: #424143;
    color: #91c612; }
  .article__registro .btn-primary:active {
    background-color: #91c612;
    color: #f9fafb; }

.article__compras {
  text-align: center;
  align-content: center;
  padding: 5rem; }
  .article__compras h1 {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .article__compras .article__subCarrito {
    color: #999898;
    text-align: center;
    margin: 1rem; }

.article__carrito {
  text-align: center;
  align-content: center; }
  .article__carrito h1 {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .article__carrito .article__subCarrito {
    color: #999898; }
  .article__carrito h3 {
    font-size: 1.5rem;
    padding: 1rem; }

.article__acerca {
  padding: 6rem;
  text-align: center; }
  .article__acerca h1 {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .article__acerca p {
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem; }

.article__comoComprar h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem; }

.article__comoComprar h4 {
  text-align: center;
  margin-bottom: 1.5rem; }

.article__comoComprar h4:hover {
  transform: scale(1.05);
  transition: transform 1s ease; }

.article__comoComprar p {
  text-align: center;
  margin-bottom: 3rem; }

.article__protegemos {
  width: 50%;
  text-align: center;
  margin: auto;
  padding: auto; }
  .article__protegemos h1 {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .article__protegemos h4 {
    padding: 0.5rem;
    font-size: 1.3rem; }

.article__faq {
  width: 60%;
  text-align: center;
  margin: auto;
  padding: 2.3rem; }
  .article__faq h1 {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .article__faq h4 {
    padding: 0.5rem;
    font-size: 1.3rem; }

.article__garantia {
  width: 40%;
  text-align: center;
  margin: auto;
  padding: auto; }
  .article__garantia h1 {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .article__garantia p {
    padding: 0.5rem; }
  .article__garantia ul {
    list-style-type: decimal;
    list-style-position: outside;
    padding: 1rem;
    margin: 1rem; }

.article__tos {
  text-align: center;
  padding: auto;
  margin: auto;
  padding-left: 7rem;
  padding-right: 7rem; }
  .article__tos h1 {
    padding: 4rem;
    font-size: 1.8rem; }
  .article__tos h4 {
    padding: 0.5rem;
    font-size: 1.3rem; }

.article__tracking {
  align-items: center;
  text-align: center; }
  .article__tracking .article__tracking--botonBuscar {
    background-color: #424143;
    border-color: #424143;
    color: #91c612; }
  .article__tracking .article__tracking--botonBuscar:hover {
    background-color: #424143;
    color: #91c612; }
  .article__tracking .article__tracking--botonBuscar:active {
    background-color: #91c612;
    color: #f9fafb; }
  .article__tracking .article__tracking--botonLimpiar {
    background-color: #424143;
    border-color: #424143;
    color: #999898; }
  .article__tracking .article__tracking--botonLimpiar:hover {
    background-color: #424143;
    color: #9EC1F2; }
  .article__tracking .article__tracking--botonLimpiar:active {
    background-color: #91c612;
    color: #f9fafb; }
  .article__tracking .article__tracking--form {
    padding-top: 1rem; }

.article__cards--index .card {
  width: 18rem; }
  .article__cards--index .card .card-link {
    padding: 1rem; }

.footer1 {
  background-color: #424143;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* Acerca de. */
  /* Ayuda. */
  /* Compras. */ }
  .footer1 h3 {
    font-size: 1rem; }
  .footer1 .footer__sectionRedes {
    margin-top: 0.3rem;
    margin-left: 0.5rem; }
    .footer1 .footer__sectionRedes .footer__redesSociales--h3 {
      color: #91c612; }
  .footer1 .footer__sucripcionArea .footer__suscripcion--blanco {
    color: #faf3f3; }
  .footer1 .footer__acerca {
    margin-top: 0.3rem; }
    .footer1 .footer__acerca .footer__acerca--h3 {
      color: #91c612;
      margin-bottom: 1rem;
      margin-top: 0rem;
      margin-left: 0.3rem; }
    .footer1 .footer__acerca .footer__acercaEcommerce {
      color: #faf3f3;
      margin-left: 0.3rem; }
    .footer1 .footer__acerca .footer__acercaEcommerce:hover {
      color: #5dfd5d; }
  .footer1 .footer__ayuda {
    margin-top: 0.3rem; }
    .footer1 .footer__ayuda .footer__ayuda--h3 {
      color: #91c612;
      margin-bottom: 1rem;
      margin-top: 0rem;
      margin-left: 0.3rem; }
    .footer1 .footer__ayuda .footer__ayudaComprar,
    .footer1 .footer__ayuda .footer__ayudaProtegemos {
      color: #faf3f3;
      margin-left: 0.3rem; }
    .footer1 .footer__ayuda .footer__ayudaComprar:hover,
    .footer1 .footer__ayuda .footer__ayudaProtegemos:hover {
      color: #5dfd5d; }
  .footer1 .footer__compras {
    margin-top: 0.3rem; }
    .footer1 .footer__compras .footer__compras--h3 {
      color: #91c612;
      margin-bottom: 1rem;
      margin-top: 0rem;
      margin-left: 0.3rem; }
    .footer1 .footer__compras .footer__comprasPreguntas,
    .footer1 .footer__compras .footer__comprasGarantia,
    .footer1 .footer__compras .footer__comprasTerminos {
      color: #faf3f3;
      margin-left: 0.3rem; }
    .footer1 .footer__compras .footer__comprasPreguntas:hover,
    .footer1 .footer__compras .footer__comprasGarantia:hover,
    .footer1 .footer__compras .footer__comprasTerminos:hover {
      color: #5dfd5d; }
    .footer1 .footer__compras .footer__inicioFooter--Div,
    .footer1 .footer__compras .footer__inicioFooter {
      color: #faf3f3;
      margin-left: 1rem;
      margin-top: 0.3rem; }

.footer2 {
  background-color: #424143;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }
  .footer2 .footer_newsletter {
    width: 90vw;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1rem; }
    .footer2 .footer_newsletter .footer_newsletter--card {
      background-color: #424143; }
    .footer2 .footer_newsletter .footer__suscribirse--color {
      background-color: #90c612e5;
      color: #f9fafb; }
    .footer2 .footer_newsletter .footer__suscribirse--color:hover {
      background-color: #90c612; }
    .footer2 .footer_newsletter .footer_newsletter--texto {
      color: #f9fafb;
      padding-left: 1rem;
      padding-right: 1rem; }

@media only screen and (max-width: 768px) {
  .article__pagaRecibiSeguridad h3 {
    font-size: 0.9rem; }
  .article__pagaRecibiSeguridad p {
    font-size: 0.65rem; }
  .footer__suscripcion--blanco {
    font-size: 0.6rem; }
  .footer__sectionRedes {
    padding-bottom: 1rem;
    padding-left: 0.1rem; }
  #article__destacados .content-table {
    font-size: 0.80rem; }
  #article__destacados .content-table th,
  #article__destacados .content-table td,
  #article__destacados .content-table a {
    padding: 0.3rem 0.3rem; }
  .whatsappBoton {
    display: none; }
  .article__acerca {
    padding: 0; }
    .article__acerca h1 {
      font-size: 1.5rem; }
  .article__retirar h1 {
    font-size: 1.5rem; }
  .article__retirar h4 {
    font-size: 1.2rem; }
  .article__tracking h1 {
    font-size: 1.5rem; }
  .article__tracking h4 {
    font-size: 1.2rem; }
  .article__faq {
    width: 100%; }
    .article__faq h1 {
      font-size: 1.5rem; }
    .article__faq h4 {
      font-size: 1.2rem; }
  .article__registro h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .article__protegemos {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem; }
    .article__protegemos h1 {
      font-size: 1.5rem; }
    .article__protegemos h4 {
      font-size: 1.2rem; }
  .article__retirar {
    width: 100%; }
    .article__retirar h1 {
      font-size: 1.5rem; }
    .article__retirar h4 {
      font-size: 1.2rem; }
  .article__carrito h1 {
    font-size: 1.5rem; }
  .article__carrito p {
    padding-left: 1rem;
    padding-right: 1rem; }
  .article__tos {
    padding-left: 2rem;
    padding-right: 2rem; }
    .article__tos h1 {
      font-size: 1.5rem; }
    .article__tos h4 {
      font-size: 1.2rem; }
  .article__garantia {
    width: 100%; }
    .article__garantia h1 {
      font-size: 1.5rem; }
    .article__garantia h4 {
      font-size: 1.2rem; }
  .article__comoComprar h1 {
    font-size: 1.5rem; }
  .article__comoComprar h4 {
    font-size: 1.2rem; }
  .footer1 {
    background-color: #424143;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: stretch; } }
