* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Monda', sans-serif; }

@media only screen and (max-width: 768px) {
  .article__pagaRecibiSeguridad h3 {
    font-size: 0.7rem; }
  .article__pagaRecibiSeguridad p {
    font-size: 0.6rem; }
  #article__destacados td {
    font-size: 0.8rem; }
  #article__destacados th {
    font-size: 0.8rem; }
  h1 {
    font-size: 1rem; }
  h2 {
    font-size: 0.9rem; }
  h3 {
    font-size: 0.8rem; }
  h4 {
    font-size: 0.7rem; }
  h5 {
    font-size: 0.6rem; }
  p {
    font-size: 0.6rem; }
  a {
    font-size: 0.8rem; }
  .footer__suscripcion--blanco {
    font-size: 0.6rem; }
  .footer__sectionRedes {
    padding-bottom: 1rem;
    padding-left: 0.1rem; }
  .article__registro {
    display: inherit; }
    .article__registro h1 {
      font-size: 1.8rem;
      text-align: center;
      align-content: center; }
  .nav__containerGrids a {
    font-size: 1rem; }
  .whatsappBoton {
    display: none; }
  .nav__darkmode {
    display: none; }
  .article__acerca {
    padding: 2rem;
    text-align: center; }
    .article__acerca h1 {
      font-size: 1rem; }
    .article__acerca p {
      font-size: 1rem;
      padding: 1rem;
      padding-left: 3rem;
      padding-right: 3rem; } }

.nav__containerGrids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "nav__buscadorCategorias . nav__cuenta";
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch; }

.nav__cuenta {
  justify-self: stretch;
  align-self: center;
  grid-area: nav__cuenta; }

.nav__buscadorCategorias {
  justify-self: stretch;
  align-self: center;
  grid-area: nav__buscadorCategorias; }

@media only screen and (max-width: 768px) {
  .article__pagaRecibiSeguridad h3 {
    font-size: 0.7rem; }
  .article__pagaRecibiSeguridad p {
    font-size: 0.6rem; }
  #article__destacados td {
    font-size: 0.8rem; }
  #article__destacados th {
    font-size: 0.8rem; }
  h1 {
    font-size: 1rem; }
  h2 {
    font-size: 0.9rem; }
  h3 {
    font-size: 0.8rem; }
  h4 {
    font-size: 0.7rem; }
  h5 {
    font-size: 0.6rem; }
  p {
    font-size: 0.6rem; }
  a {
    font-size: 0.8rem; }
  .footer__suscripcion--blanco {
    font-size: 0.6rem; }
  .footer__sectionRedes {
    padding-bottom: 1rem;
    padding-left: 0.1rem; }
  .article__registro {
    display: inherit; }
    .article__registro h1 {
      font-size: 1.8rem;
      text-align: center;
      align-content: center; }
  .nav__containerGrids a {
    font-size: 1rem; }
  .whatsappBoton {
    display: none; }
  .nav__darkmode {
    display: none; }
  .article__acerca {
    padding: 2rem;
    text-align: center; }
    .article__acerca h1 {
      font-size: 1rem; }
    .article__acerca p {
      font-size: 1rem;
      padding: 1rem;
      padding-left: 3rem;
      padding-right: 3rem; } }

.nav__containerGrids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "nav__buscadorCategorias . nav__cuenta";
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch; }

.nav__cuenta {
  justify-self: stretch;
  align-self: center;
  grid-area: nav__cuenta; }

.nav__buscadorCategorias {
  justify-self: stretch;
  align-self: center;
  grid-area: nav__buscadorCategorias; }

#header__inicio .header__inicio {
  font-size: 0.80rem;
  line-height: 2rem;
  background-color: #000000d0;
  position: relative;
  top: 0; }
  #header__inicio .header__inicio li {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    transition: transform 0.5s ease; }
  #header__inicio .header__inicio li:hover {
    background-color: #91c612;
    transform: scale(1.1, 1.1); }
  #header__inicio .header__inicio li:active {
    background-color: #15B9D4; }
  #header__inicio .header__inicio ul {
    padding: 0; }
    #header__inicio .header__inicio ul .header__retirarCompra,
    #header__inicio .header__inicio ul .header__seguirCompra {
      text-decoration: none;
      color: #faf3f3; }

#header__inicio .nav__logo {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  padding-top: 2rem; }
  #header__inicio .nav__logo img {
    transition: all 2s ease; }
  #header__inicio .nav__logo img:hover {
    transform: scale(0.9, 0.9); }

#header__inicio .nav__dark {
  text-align: right;
  margin-right: 1rem; }
  #header__inicio .nav__dark :hover {
    background-color: #ff9900;
    display: inline-block;
    border-radius: 1rem; }

#header__inicio .navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0, 0, 0, 0.4); }

#header__inicio .nav__containerGrids {
  padding-bottom: 3rem; }
  #header__inicio .nav__containerGrids .nav__cuenta {
    text-align: right;
    margin-right: 1rem; }
    #header__inicio .nav__containerGrids .nav__cuenta li {
      list-style: none;
      display: inline-block;
      padding: 0.3rem;
      margin: 0 auto; }
    #header__inicio .nav__containerGrids .nav__cuenta li:hover {
      background-color: rgba(168, 168, 204, 0.61);
      border-radius: 0.3rem; }
    #header__inicio .nav__containerGrids .nav__cuenta .nav__avatar--40w li {
      padding-left: 5.5rem;
      z-index: 1; }
    #header__inicio .nav__containerGrids .nav__cuenta .nav__micuenta--celeste {
      color: #00b5ec;
      font-weight: bold;
      text-decoration: none; }
    #header__inicio .nav__containerGrids .nav__cuenta .nav__miscompras--celeste {
      color: #009ccc;
      text-decoration: none; }
    #header__inicio .nav__containerGrids .nav__cuenta .nav__destacados {
      color: #007194;
      text-decoration: none; }
    #header__inicio .nav__containerGrids .nav__cuenta .nav__carrito {
      width: 1.2rem; }

@media only screen and (max-width: 768px) {
  .article__pagaRecibiSeguridad h3 {
    font-size: 0.7rem; }
  .article__pagaRecibiSeguridad p {
    font-size: 0.6rem; }
  #article__destacados td {
    font-size: 0.8rem; }
  #article__destacados th {
    font-size: 0.8rem; }
  h1 {
    font-size: 1rem; }
  h2 {
    font-size: 0.9rem; }
  h3 {
    font-size: 0.8rem; }
  h4 {
    font-size: 0.7rem; }
  h5 {
    font-size: 0.6rem; }
  p {
    font-size: 0.6rem; }
  a {
    font-size: 0.8rem; }
  .footer__suscripcion--blanco {
    font-size: 0.6rem; }
  .footer__sectionRedes {
    padding-bottom: 1rem;
    padding-left: 0.1rem; }
  .article__registro {
    display: inherit; }
    .article__registro h1 {
      font-size: 1.8rem;
      text-align: center;
      align-content: center; }
  .nav__containerGrids a {
    font-size: 1rem; }
  .whatsappBoton {
    display: none; }
  .nav__darkmode {
    display: none; }
  .article__acerca {
    padding: 2rem;
    text-align: center; }
    .article__acerca h1 {
      font-size: 1rem; }
    .article__acerca p {
      font-size: 1rem;
      padding: 1rem;
      padding-left: 3rem;
      padding-right: 3rem; } }

.nav__containerGrids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "nav__buscadorCategorias . nav__cuenta";
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch; }

.nav__cuenta {
  justify-self: stretch;
  align-self: center;
  grid-area: nav__cuenta; }

.nav__buscadorCategorias {
  justify-self: stretch;
  align-self: center;
  grid-area: nav__buscadorCategorias; }

#article__destacados .article__top4--img {
  display: block;
  margin: auto;
  height: auto; }

#article__destacados table,
#article__destacados th,
#article__destacados td {
  border: 0.063rem solid #15B9D4;
  text-align: center;
  margin: auto;
  height: auto;
  font-size: 1rem; }

#article__destacados .article__tituloTop {
  text-align: center;
  margin: auto;
  height: auto;
  font-size: 1.3rem; }

.article__intereses,
.card-img-top,
.card-body,
.article__productosInteres,
.article__quizas {
  padding: 2rem; }
  .article__intereses .card,
  .card-img-top .card,
  .card-body .card,
  .article__productosInteres .card,
  .article__quizas .card {
    background-color: #e1e5ea; }
    .article__intereses .card img,
    .card-img-top .card img,
    .card-body .card img,
    .article__productosInteres .card img,
    .article__quizas .card img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%; }

.article__quizas {
  padding: 2rem; }
  .article__quizas .card {
    background-color: #e1e5ea; }
    .article__quizas .card img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%; }

.article__pagaRecibiSeguridad {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; }
  .article__pagaRecibiSeguridad h3 {
    font-size: 1.4rem; }
  .article__pagaRecibiSeguridad div {
    width: 20rem;
    height: 10rem; }
  .article__pagaRecibiSeguridad img {
    margin: auto;
    display: block; }

.article__retirar {
  width: 50%;
  text-align: center;
  margin: auto;
  padding: auto; }
  .article__retirar h1 {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .article__retirar h4 {
    padding: 0.5rem;
    font-size: 1.3rem; }
  .article__retirar .article__retirarUl li {
    padding: 1rem;
    list-style-type: decimal; }
  .article__retirar .article__retirarUl .article__retirarCursiva {
    padding: 1rem;
    font-style: italic; }
  .article__retirar .article__mapa--iframe {
    display: flex;
    align-items: center;
    justify-content: center; }

.article__registro {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10%; }
  .article__registro h1 {
    font-size: 1.8rem;
    text-align: center;
    align-content: center; }

.article__compras {
  text-align: center;
  align-content: center;
  padding: 5rem; }
  .article__compras h1 {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .article__compras .article__subCarrito {
    color: #999898;
    text-align: center;
    margin: 1rem; }

.article__carrito {
  text-align: center;
  align-content: center; }
  .article__carrito h1 {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .article__carrito .article__subCarrito {
    color: #999898; }
  .article__carrito h3 {
    font-size: 1.5rem;
    padding: 1rem; }

.article__acerca {
  padding: 6rem;
  text-align: center; }
  .article__acerca h1 {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .article__acerca p {
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem; }

.article__comoComprar h1 {
  padding: 0.5rem;
  font-size: 1.8rem;
  text-align: center; }

.article__comoComprar h4 {
  padding: 0.5rem;
  font-size: 1.3rem; }

.article__comoComprar ul {
  align-content: center;
  text-align: center; }
  .article__comoComprar ul li {
    list-style-type: none;
    list-style-position: outside;
    padding: 0.5rem;
    margin: 0.5rem; }

.article__protegemos {
  width: 50%;
  text-align: center;
  margin: auto;
  padding: auto; }
  .article__protegemos h1 {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .article__protegemos h4 {
    padding: 0.5rem;
    font-size: 1.3rem; }

.article__faq {
  width: 60%;
  text-align: center;
  margin: auto;
  padding: 2.3rem; }
  .article__faq h1 {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .article__faq h4 {
    padding: 0.5rem;
    font-size: 1.3rem; }

.article__garantia {
  width: 40%;
  text-align: center;
  margin: auto;
  padding: auto; }
  .article__garantia h1 {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .article__garantia p {
    padding: 0.5rem; }
  .article__garantia ul {
    list-style-type: decimal;
    list-style-position: outside;
    padding: 1rem;
    margin: 1rem; }

.article__tos {
  text-align: center;
  padding: auto;
  margin: auto; }
  .article__tos h1 {
    padding: 4rem;
    font-size: 1.8rem; }
  .article__tos h4 {
    padding: 0.5rem;
    font-size: 1.3rem; }

.article__tracking {
  width: 40%;
  margin-left: 30%;
  align-items: center;
  text-align: center; }

@media only screen and (max-width: 768px) {
  .article__pagaRecibiSeguridad h3 {
    font-size: 0.7rem; }
  .article__pagaRecibiSeguridad p {
    font-size: 0.6rem; }
  #article__destacados td {
    font-size: 0.8rem; }
  #article__destacados th {
    font-size: 0.8rem; }
  h1 {
    font-size: 1rem; }
  h2 {
    font-size: 0.9rem; }
  h3 {
    font-size: 0.8rem; }
  h4 {
    font-size: 0.7rem; }
  h5 {
    font-size: 0.6rem; }
  p {
    font-size: 0.6rem; }
  a {
    font-size: 0.8rem; }
  .footer__suscripcion--blanco {
    font-size: 0.6rem; }
  .footer__sectionRedes {
    padding-bottom: 1rem;
    padding-left: 0.1rem; }
  .article__registro {
    display: inherit; }
    .article__registro h1 {
      font-size: 1.8rem;
      text-align: center;
      align-content: center; }
  .nav__containerGrids a {
    font-size: 1rem; }
  .whatsappBoton {
    display: none; }
  .nav__darkmode {
    display: none; }
  .article__acerca {
    padding: 2rem;
    text-align: center; }
    .article__acerca h1 {
      font-size: 1rem; }
    .article__acerca p {
      font-size: 1rem;
      padding: 1rem;
      padding-left: 3rem;
      padding-right: 3rem; } }

.nav__containerGrids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "nav__buscadorCategorias . nav__cuenta";
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch; }

.nav__cuenta {
  justify-self: stretch;
  align-self: center;
  grid-area: nav__cuenta; }

.nav__buscadorCategorias {
  justify-self: stretch;
  align-self: center;
  grid-area: nav__buscadorCategorias; }

footer {
  background-color: #424143;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.3rem;
  /* Acerca de. */
  /* Ayuda. */
  /* Compras. */ }
  footer h3 {
    font-size: 1rem; }
  footer .footer__sectionRedes .footer__redesSociales {
    margin-left: 0;
    color: #91c612; }
  footer .footer__sucripcionArea {
    /* Botones newlester. */ }
    footer .footer__sucripcionArea .footer__suscripcion--blanco {
      color: #faf3f3; }
    footer .footer__sucripcionArea .footer__suscribirse--boton {
      background-image: linear-gradient(to right, #372b44 0%, #382946 51%, #2a1a3a 100%); }
    footer .footer__sucripcionArea .footer__suscribirse--boton {
      font-size: 0.9rem;
      padding: 0.3rem 0.3rem;
      text-align: center;
      text-transform: uppercase;
      transition: 0.3s;
      background-size: 200% auto;
      color: #faf3f3;
      box-shadow: 0 0 0.3rem #424143;
      border-radius: 0.625rem;
      display: block; }
    footer .footer__sucripcionArea :hover {
      background-position: right center;
      color: #fff;
      text-decoration: none; }
  footer .footer__acerca {
    color: #91c612;
    margin-bottom: 1rem;
    margin-top: 0rem;
    margin-left: 0.3rem; }
  footer .footer__acercaEcommerce {
    color: #faf3f3;
    margin-left: 0.3rem; }
  footer .footer__acercaEcommerce:hover {
    color: #5dfd5d; }
  footer .footer__ayuda--h3 {
    color: #91c612;
    margin-bottom: 1rem;
    margin-top: 0rem;
    margin-left: 0.3rem; }
  footer .footer__ayudaComprar,
  footer .footer__ayudaProtegemos {
    color: #faf3f3;
    margin-left: 0.3rem; }
  footer .footer__ayudaComprar:hover,
  footer .footer__ayudaProtegemos:hover {
    color: #5dfd5d; }
  footer .footer__compras {
    color: #91c612;
    margin-bottom: 1rem;
    margin-top: 0rem;
    margin-left: 0.3rem; }
  footer .footer__comprasPreguntas,
  footer .footer__comprasGarantia,
  footer .footer__comprasTerminos {
    color: #faf3f3;
    margin-left: 0.3rem; }
  footer .footer__comprasPreguntas:hover,
  footer .footer__comprasGarantia:hover,
  footer .footer__comprasTerminos:hover {
    color: #5dfd5d; }
  footer .footer__inicioFooter--Div,
  footer .footer__inicioFooter {
    color: #faf3f3;
    margin-left: 1rem;
    margin-top: 0.3rem; }
  footer .footer_newsletter {
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 1rem; }
    footer .footer_newsletter .footer_newsletter--card {
      background-color: #424143; }
    footer .footer_newsletter .footer_newsletter--texto {
      color: #f9fafb;
      padding-left: 1rem;
      padding-right: 1rem; }

body {
  background: #faf3f3;
  background: linear-gradient(90deg, #faf3f3 0%, #e1e5ea 35%, #f9fafb 100%); }
  body img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none; }

/* Boton whatsapp. */
.whatsappBoton {
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
  bottom: 2.5rem;
  right: 2.5rem;
  background-color: #25d366;
  color: #FFF;
  border-radius: 3.125rem;
  text-align: center;
  font-size: 1.875rem;
  box-shadow: 0.125rem 0.125rem 0.1875rem #999;
  z-index: 100; }

.whatsappBoton:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff; }

.miFloat {
  margin-top: 1rem; }
