@import "colores";
@import "mobileFirst";
@import "grids";

//H1
$padding: 0.5rem;
$font-size: 1.8rem;
//Bloque
$width: 50%;
$text-align: center;
$padding-bloque: auto;
$margin-bloque: auto;
//H4
$padding--h4: 0.5rem;
$font-size--h4: 1.3rem;
//Cards
$display--cards: flex;
$flex-direction--cards: row;
$justify-content--cards: space-between;
$flex-wrap--cards: wrap;
$padding-bottom--cards: 4rem;

@mixin h1 ($padding, $font-size) {
    padding: $padding;
    font-size: $font-size;
}

@mixin h4 ($padding--h4, $font-size--h4) {
    padding: $padding--h4;
    font-size: $font-size--h4;
}

@mixin ajustesBloque($width, $text-align, $margin-bloque, $padding-bloque) {
    width: $width;
    text-align: $text-align;
    margin: $margin-bloque;
    padding: $padding-bloque;
}

@mixin cardsProductos($display--cards, $flex-direction--cards, $justify-content--cards, $flex-wrap--cards, $padding-bottom--cards) {
    display: $display--cards;
    flex-direction: $flex-direction--cards;
    justify-content: $justify-content--cards;
    flex-wrap: $flex-wrap--cards;
    padding-bottom: $padding-bottom--cards;
}


@keyframes mover {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



#article__destacados {
    padding-top: 9rem;
    padding-bottom: 9rem;

    .article__top4--img {
        display: block;
        margin: auto;
        height: auto;
    }

    .content-table {
        border-collapse: collapse;
        box-shadow: 0 0 1.25rem #00000026;
        margin: 1.563rem 0;
        text-align: center;
        margin: auto;
        height: auto;
        font-size: 0.9rem;
        border-radius: 0.313rem 0.313rem 0 0;
    } 

    .content-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td,
    .content-table a
     {
        padding: 0.7rem 0.8rem;
        text-decoration: none;
    }

    .content-table tbody tr {
        border-bottom: 0.063rem solid #dddddd;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type {
        border-bottom: 0.125rem solid #61b92e;
    }

    .content-table tbody tr.active-row {
        background-color: #a1dd16d0;
    }

    .content-table tbody tr.active-row:hover {
        background-color: #a1dd16;
    }

    .article__tituloTop {
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        margin: auto;
        height: auto;
        font-size: 2rem;
    }

}

.article__intereses--h2,
.article__quizas--h2 {
    font-size: 1.3rem;
    padding-bottom: 1.3rem;
    margin-left: 1rem;
    color: $color-empty;
}

.article__intereses,
.article__quizas {
    @include cardsProductos($display--cards, $flex-direction--cards, $justify-content--cards, $flex-wrap--cards, $padding-bottom--cards);

    .card {
        background-color: $color-paleta2;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }
    }
    .card:hover{
        transform: scale(1.05);
        transition: transform 0.5s ease;
        box-shadow: 0 0.625rem 1.25rem #0000001f, 0 0.25rem 0.5rem #0000000f
    }
}

//Productos de las cards
.article__productos {
    @include cardsProductos($display--cards, $flex-direction--cards, $justify-content--cards, $flex-wrap--cards, $padding-bottom--cards);

    .card {
        background-color: $color-paleta2;
        width: 18rem;

        .card-link {
            padding: 1rem;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }
    }
    .card:hover{
        transform: scale(1.05);
        transition: transform 0.5s ease;
        box-shadow: 0 0.625rem 1.25rem #0000001f, 0 0.25rem 0.5rem #0000000f
    }
}

.article__cardsLogo--arriba {
    width: 10rem;
    display: block;
    margin: auto;
}

.article__cardsLogo--arriba:hover {
    opacity: .8;
}

.article__cardsLogo--abajo {
    width: 10rem;
    display: block;
    margin: auto;
}

.article__cardsLogo--abajo:hover {
    opacity: .8;
}

.article__cardsPadding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.card-img-top,
.card-body,
.article__productosInteres {
    padding: 2rem;

    .card {
        background-color: $color-paleta2;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }
    }
}



.article__pagaRecibiSeguridad {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 1rem;

    h3 {
        font-size: 1.4rem;
    }

    div {
        width: 20rem;
        height: 10rem;

        img {
            margin-bottom: 1rem;
        }
    }

    img {
        margin: auto;
        display: block;
    }
}

//Retirar
.article__retirar {
    @include ajustesBloque($width/2*2, $text-align, $margin-bloque, $padding-bloque);

    h1 {
        @include h1($padding, $font-size);
    }

    h4 {
        @include h4($padding--h4, $font-size--h4);
    }


    .article__retirarUl {
        li {
            padding: 1rem;
            list-style-type: decimal;
        }

        .article__retirarCursiva {
            padding: 1rem;
            font-style: italic;
        }
    }

    .article__mapa--iframe {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

//Registro
.article__registro--h1 {
    font-size: 2rem;
    text-align: center;
    align-content: center;
    margin-bottom: 1rem;
}

.article__registro {
    margin-left: 15%;
    align-items: center;
    text-align: center;

    .btn-primary {
        background-color: $color-footer;
        border-color: $color-footer;
        color: $color-verde;
    }

    .btn-primary:hover {
        background-color: $color-footer;
        color: $color-verde;
    }

    .btn-primary:active {
        background-color: $color-verde;
        color: $color-paleta3;
    }
}


//Compras
.article__compras {
    text-align: center;
    align-content: center;

    h1 {
        @include h1($padding, $font-size);
    }

    .article__subCarrito {
        color: $color-empty;
        text-align: center;
        margin: 1rem;
    }

    padding: 5rem;
}

//Carrito
.article__carrito {
    text-align: center;
    align-content: center;

    h1 {
        @include h1($padding, $font-size);
    }

    .article__subCarrito {
        color: $color-empty;
    }

    h3 {
        font-size: 1.5rem;
        padding: 1rem;
    }
}

//Acerca
.article__acerca {
    padding: 6rem;
    text-align: center;

    h1 {
        @include h1($padding, $font-size);
    }

    p {
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

//Como Comprar
.article__comoComprar {
    h1 {
        @include h1($padding, $font-size);
        text-align: center;
    }

    h4 {
        @include h4($padding--h4, $font-size--h4);
    }

    ul {
        align-content: center;
        text-align: center;

        li {
            list-style-type: none;
            list-style-position: outside;
            padding: 0.5rem;
            margin: 0.5rem;
        }
    }
}

//Protegemos
.article__protegemos {
    @include ajustesBloque($width, $text-align, $margin-bloque, $padding-bloque);

    h1 {
        @include h1($padding, $font-size);
    }

    h4 {
        @include h4($padding--h4, $font-size--h4);
    }
}

//Faq
.article__faq {
    @include ajustesBloque($width+10, $text-align, $margin-bloque, 2.3rem);

    h1 {
        @include h1($padding, $font-size);
    }

    h4 {
        @include h4($padding--h4, $font-size--h4);
    }
}

//Garantia
.article__garantia {
    @include ajustesBloque(40%, $text-align, $margin-bloque, $padding-bloque);

    h1 {
        @include h1($padding, $font-size);
    }

    p {
        padding: 0.5rem;
    }

    ul {
        list-style-type: decimal;
        list-style-position: outside;
        padding: 1rem;
        margin: 1rem;
    }
}

//Tos
.article__tos {
    text-align: center;
    padding: auto;
    margin: auto;
    padding-left: 3rem;
    padding-right: 3rem;

    h1 {
        @include h1(4rem, $font-size);
    }

    h4 {
        @include h4($padding--h4, $font-size--h4);
    }
}

//Tracking
.article__tracking {
    width: 50%;
    align-items: center;
    text-align: center;

    .article__tracking--botonBuscar {
        background-color: $color-footer;
        border-color: $color-footer;
        color: $color-verde;
    }

    .article__tracking--botonBuscar:hover {
        background-color: $color-footer;
        color: $color-verde;
    }

    .article__tracking--botonBuscar:active {
        background-color: $color-verde;
        color: $color-paleta3;
    }

    .article__tracking--botonLimpiar {
        background-color: $color-footer;
        border-color: $color-footer;
        color: $color-empty;
    }

    .article__tracking--botonLimpiar:hover {
        background-color: $color-footer;
        color: #9EC1F2;
    }

    .article__tracking--botonLimpiar:active {
        background-color: $color-verde;
        color: $color-paleta3;
    }

    .article__tracking--form{
        padding-top: 1rem;
    }
}

//Index Cards
.article__cards--index {

    .card {
        width: 18rem;

        .card-link {
            padding: 1rem;
        }
    }
}