//Paletas
$color-paleta1: #faf3f3;
$color-paleta2: #e1e5ea;
$color-paleta3: #f9fafb;
$color-footer: #424143;
//Subtitulos
$color-verde: #91c612;
//Actives
$color-active: #15B9D4;
//Empty
$color-empty: #999898;