@import "colores";

//Pantalla negra al seleccionar categorias
.screen-darken {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000080;
    pointer-events: none;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    position: fixed;
}


#header__inicio {
    .header__inicio {
        font-size: 0.80rem;
        line-height: 2rem;
        background-color: #000000d0;
        position: relative;
        top: 0;

        li {
            display: inline-block;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.5rem;
            transition: transform 0.5s ease;
        }

        li:hover {
            background-color: $color-verde;
            transform: scale(1.1, 1.1);
        }

        li:active {
            background-color: $color-active;
        }

        ul {
            padding: 0;

            .header__retirarCompra {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                text-decoration: none;
                color: $color-paleta1;
            }

            .header__seguirCompra {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
                text-decoration: none;
                color: $color-paleta1;
            }
        }
    }

    .nav__logo {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        padding-top: 2rem;

        img {
            transition: all 2s ease;
        }

        img:hover {
            transform: scale(0.9, 0.9);
        }
    }

    .nav__nav {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .nav__categorias {
            color: $color-footer;
        }

        a:hover {
            color: #424143;
        }

        .fa-shopping-cart {
            color: #424143e7;
        }

        .fa-shopping-cart:hover {
            color: #424143;
        }

        .fa-bell {
            color: #424143e7;
        }

        .fa-bell:hover {
            color: #424143;
        }

        .nav__img--avatar:hover {
            transform: scale(1.1, 1.1);
            transition: transform 0.5s ease;
        }
    }

    .navbar {
        position: relative;
        z-index: 15;
    }

}