@import "colores";

@media only screen and (max-width: 768px) {
    //Index
    .article__pagaRecibiSeguridad h3 {
        font-size: 0.9rem;
    }

    .article__pagaRecibiSeguridad p {
        font-size: 0.65rem;
    }

    //Footer
    .footer__suscripcion--blanco {
        font-size: 0.6rem;
    }

    .footer__sectionRedes {
        padding-bottom: 1rem;
        padding-left: 0.1rem;
    }

    //Ocultar boton wp
    .whatsappBoton {
        display: none;
    }

    //Acerca
    .article__acerca {
        padding: 0;
        h1{
            font-size: 1.5rem;
        }
    }

    //Retirar
    .article__retirar {
        width: 100%;
        h1{
            font-size: 1.5rem;
        }
        h4{
            font-size: 1.2rem;
        }
    }

    //Tracking
    .article__tracking {
        h1{
            font-size: 1.5rem;
        }
        h4{
            font-size: 1.2rem;
        }
    }
}

@media only screen and (min-height: 768px) {}

@media only screen and (min-width: 1024px) {
}