* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Monda', sans-serif;
}

@import "colores";
@import "mobileFirst";
@import "grids";
@import "header";
@import "article";
@import "footer";



body {
    img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{ display: none; }
    background: $color-paleta1;
    background: linear-gradient(90deg, $color-paleta1 0%, $color-paleta2 35%, $color-paleta3 100%);
}

/* Boton whatsapp. */
.whatsappBoton {
    position: fixed;
    width: 3.75rem;
    height: 3.75rem;
    bottom: 2.5rem;
    right: 2.5rem;
    background-color: #25d366;
    color: #FFF;
    border-radius: 3.125rem;
    text-align: center;
    font-size: 1.875rem;
    box-shadow: 0.125rem 0.125rem 0.1875rem #999;
    z-index: 100;
}

.whatsappBoton:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.miFloat {
    margin-top: 1rem;
}

